{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .centered-image {
        display: block;
        margin: 0 auto;
    }
</style>

<div class="page_title">
   <h1 id= "titlepage">  TIME/PLACE CAPTURED  </h1>

</div>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap">
<div class="intro">
    <br> <!-- This adds a blank line--> 
    <br>  
    <br>  
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <h2 id="intro"> How do we discern and encapsulate the intricacies of our temporal interplay, and, in turn, our spatial connections?<h2>
    <br> <!-- This adds a blank line--> 
</div>
<br>
<br>



<br> 

<ul class="navigation-list">
    <li><a href="exhibit/">Exhibits</a></li>
    <li><a href="archive/">Archive</a></li>
    <li><a href="about">About</a></li>
</ul>


{% endblock %}
