{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb">
    <a href="/"> Time/Place Captured </a> / <a href="/exhibit"> Exhibits </a>
</div>
<div class="page_title">
    {{ title }}
    <div class="content">
        <div class="zodiac-image">
            {% if title == "Exploring Culture and Time" %}
                <img id="zodiac" src="{% get_static_prefix %}zodiac.jpeg" alt="Zodiac Image">
                <p id="zodiacdescription"> 12 Japanese zodiac signs from a New Year's card </p>
                
            {% endif %}
        </div>
        <div class="exhibit_text">
            {{ exhibit_text|linebreaks }}
        </div>
        <div class="exhibit_items">
            <ul>
                {% for item in exhibit_items %}
                    <li>
                        <div class="exhibit_item">
                            <ul>
                                {% if item.image %}
                                    <li><a href="/archive/{{ item.id }}"><img src="{{ item.image.url }}" alt="{{ item.name }}" /></a></li>
                                {% endif %}
                                <li><a href="/archive/{{ item.id }}">{{ item.name }}</a></li>
                                <li>{{ item.description }}</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
